
:root{
    --primaireforms:  #4ecd5d;
    --secundaireforms: rgb(0, 191, 255);
    --third: capitalize;
    --primairebuttons: 10px;
    --secundairebuttons: 8px;



}

*{
--box-sizing: border-box;
--margin: 0;
--padding: 0;


}



.navbarforms img {
    transform: scale(0.5);
  }
  
 
